services:
  web:
    build:
      context: ./apps/web
    ports:
      - "8080:5173"
  gateway:
    build:
      context: ./apps/gateway
    ports:
      - "4000:4000"

  db-redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
